.homepage {
	height: 100%;
	background: url('../../assets/cat-bg2.png') no-repeat center center/cover;

	.text-container {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 10px;
		background: url('../../assets/cat-bg.png') no-repeat center center/cover;

		h1 {
			font-size: 4rem;
		}
		.nav-container {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 10px;
			width: 50%;

			.nav-link {
				text-decoration: none;
				color: white;
				font-size: 1.5rem;
				padding: 10px 20px;
				background:rgb(72, 55, 222);
				border-radius: 5px;
				transition: all 0.3s ease-in-out;

				&:hover {
					background: rgb(14, 0, 139);
				}

			}
		}
	}
}
