@font-face {
  font-family: 'PressStart2P';
  src: url("../../assets/Fonts/PressStart2P-Regular.ttf") format('truetype');
}

.login {
  height: 100%;
  font-family: 'PressStart2P';
  background-image: url('../../assets/login-bg.png');
  background-color: #42A3CA;

  .form-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    form {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto;
      padding: 1rem;
      gap: 10px;
      background-color: white;
      border: 4px solid black;
      border-radius: 1rem;
      
      h2 {
        font-family: 'PressStart2P';
        font-size: 3rem;
        margin-bottom: 30px;
      }
      
      input {
        width: 50%;
        padding: 0.5rem 1rem;
        font-family: 'PressStart2P';
      }
      
      button {
        width: 50%;
        padding: 0.5rem 1rem;
        margin-top: 10px;
        
        span {
          font-size: 1.5rem;
          font-weight: 600;
          font-family: 'PressStart2P';
        }
      }
    }
  }
}
